<div class="container text-center mt-5 p-5">
    <div class="card text-center" *ngIf="countryDetails$ | async as countryDetails">
  <div class="card-header">
    {{countryDetails.name}}
  </div>
  <div class="card-body">
    <img class="card-img-top" src={{countryDetails.flag}}  alt="Card image cap">
  </div>
  <div class="card-footer text-muted">
     <p class="card-text">Population : {{countryDetails.population}}</p>
    <p class="card-text">Capital : {{countryDetails.capital}}</p>
  </div>
</div>

